
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
.container{
    width: 100%;
    height:660px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    
    

}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    
    
    
}
.navbar>h1{
    margin-top: 20px;
    
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
    margin-top: 5px;
    
    
    
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 14px;
}
nav ul li a:hover{
    color: red;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    
    
}
.col-1 h2{
    font-size: 54px;
    
}
.col-1 h3{
    font-size: 30px;
    color: black;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 h4{
    margin: 30px 0;
      font-size:20px;    
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    background-color: white;
    border: 1px solid darkorange;
    color: black;
    border-radius: 22px;
    margin-left: 4px;
    position:relative;
    top: 40px;
    
    
}
button:hover{
    background-color: darkorange;
    color: white;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background-color: darkorange;
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
    position:relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    
    
    
}
.col-2 .controller{
    width:70%;
    
    
    
}
 .color-box{
    position:absolute;
    right: 0;
    top: 0;
    background:linear-gradient(#ff54a2, #ff575a);
    border-radius:20px 0 0 20px;
    height: 100%;
    
    z-index: -1;
    transform: translateX(150px);
     
}








.landpage3{
    width: 100%;
    height:480px;
    
    
}
.landpage3 #inline{
    width: 300px;
    height: 354px;
    
    float: left;
    position: relative;
    left: 80px;
    margin-top: 60px;
    padding-left: 6px;
    
    
    
}
.landpage3 #inline>h2{
    font-family: sans-serif;
    font-weight: normal;
    
    
}
.landpage3 #inline>p{
    font-family: sans-serif;
    margin-top: 20px;
    line-height: 24px;
    
}
.landpage3 #inline>img{
    width: 280px;
    height: 138px;
    margin-top: 20px;
}
.landpage3 #inline>a{
    font-family: sans-serif;
    position:relative;
    top: 40px;
    background-color: orangered;
    text-decoration: none;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 4px;
}
.landpage3 #inline>a:hover{
    background-color: crimson;
}




.landpage4{
    width: 100%;
    height: 800px;
}

.landpage4  .writing{
    float: left;
    
    position: relative;
    
    margin-left: 50px;
    
    
}
.landpage4  .writing .gravida{
    width:650px;
    
    
    font-family: sans-serif;
    font-size: 40px;
    font-weight: normal;
}
.landpage4  .writing .h2{
    width: 650px;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 20px;
    
}
.landpage4  .writing .text{
    width: 650px;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 20px;
    line-height: 25px;
}
.landpage4 .writing .text2{
    width: 650px;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 20px;
    line-height: 25px;
    
}
.landpage4 .writing .text3{
    width: 650px;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 20px;
    line-height: 25px;
}
.landpage4 .writing>a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    background-color: orangered;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    position: relative;
    top: 40px;
    
}
.landpage4  .writing .hh{
    font-family: sans-serif;
    font-weight: normal;
    
}

.landpage4 .writing .www{
    width: 260px;
    height: 400px;
    
}
.landpage4 .writing .www .float{
    width: 260px;
    
    
    float: left;
    margin-bottom: 40px;
    margin-top: 20px;
    
    
    
}
.landpage4  .writing .www .float .left{
    float: right;
    

}
.landpage4 .writing .www .float .left>p{
    font-family: sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: black;

}
.landpage4  .writing .arrow{
    width: 260px;
    height: 600px;
    
    
    
    
}
.landpage4 .writing .arrow .anchor .hrrd{
    
    border-bottom: 1px solid silver;
}



.landpage4 .writing .arrow .anchor .hhh{
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: normal;
}
.landpage4 .writing .arrow .anchor>a{
    font-family: sans-serif;
    font-weight: normal;
    color: red;
    line-height: 54px;
    
    
}


/*--------------------------------------------------Landpage-5---------------------------------------------------------*/



.landpage5{
    width: 100%;
    min-height:100%;
    background-image:url(img01.jpg);
    
}


.landpage5  #platein{
    width: 360px;
    height: 240px;
    background-color: white;
    margin: 25px;
    float: left;
    margin-top: 60px;
    position: relative;
    left: 60px;
}
.landpage5  #platein>img{
    width: 200px;
    height: 210px;
    padding: 20px;
    float: left;
}
.landpage5  #platein>p{
    width: 150px;
    height: 240px;
    float: left;
    padding:10px;
    padding-top: 20px;
    line-height: 28px;
}
.landpage5  #platein .pkad{
    
}
.landpage5 #platein .pkad{
    font-family: sans-serif;
    text-decoration: none;
    background-color:orangered;
    position: relative;
    top: 24px;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left:24px;
    padding-right: 24px;
    border-radius:6px ;
}
.landpage5  #platein .pkad:hover{
    background-color:crimson;
    transition:1s;
}


/*---------------------------------------------Landpage #plate2--------------------------------------------------------*/



.landpage5 #platein2{
    width: 280px;
    height: 480px;
    background-color: nav;
    float: left;
    margin: 20px;
    position: relative;
    left: 30px;
    
    
} 
.landpage5  #platein2 .head{
    
    margin-top: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
}
.landpage5 #platein2 .para{
    width: 280px;
    height: 360px;
    background-color: white;
    margin-top: 40px;
    border-radius: 6px;
}
.landpage5 #platein2 .para>p{
    font-family: sans-serif;
    padding: 20px;
    line-height: 46px;
    font-size: 20px;
}
.landpage5 #platein2 .para>h3{
    font-family: sans-serif;
    margin-left: 40px;
    margin-top: 10px;
    font-weight:200px;
    
}
.landpage5 #platein2>h4{
    margin-top: 32px;
    color:darkgray;
    font-family: sans-serif;
    font-weight:normal;
    line-height: 28px;
}

.landpage5 #platein2>p{
    
    font-family: sans-serif;
    line-height: 20px;
    font-size: 14px;
    color:gray;
    
}
.landpage5 #platein2 .thired{
    color:gray;
    margin-top: 32px;
    font-family: sans-serif;
    color:gray;
    font-size: 14px;
    line-height: 24px;
}





.landpage5 #platein2 .image>img{
    width: 88px;
    height: 80px;
    float: left;
    padding: 4px;
    margin-left: 4px;
    margin-top: 20px;
    
    
    
}


.landpage5 #platein2 .image2>img{
    width: 88px;
    height: 80px;
    float: left;
    padding: 4px;
    margin-left: 4px;
}

.landpage5 #platein2>a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    top: 44px;
    background-color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    
}
.landpage5 #platein2>a:hover{
    background-color:crimson;
    transition: 1s;
}


.landpage5 #platein2 .paraa{
    font-weight:bold;
    font-family: sans-serif;
    margin-top: 32px;
}

.landpage5 #platein2 #two{
    font-family: sans-serif;
     margin-top: 14px;
    color: gray;
    line-height: 24px;
    
}
.landpage5 .founder{
    width: 100%;
    height: 140px;
    background-color: gree;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}


.landpage5 .founder .socialmedia>img{
    width: 140px;
    height: 140px;
    border-radius: 80px;

    
}
.landpage5>h4{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 4px;
}


.landpage5 .facebook{
    width: 100%;
    height: 40px;
    background-color: re;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    padding: px;
}

.landpage5 .facebook>a>img{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 4px;
}



.landpage5 .footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------Media quary For Mobile----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width:700px){
    
    .navbar>h1{
        font-size: 16px;
        margin-top: 20px;
    }
    
    
    
    
    nav ul{
        width: 100%;
        background-color: crimson;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    nav ul li a{
        color: white;
    }
    .menu-icon {
        display: block;
        margin-top: 16px;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
        
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    
        
    }
    .col-2 .controller{
        width: 77%;
    }
    .col-2{
        flex-basis: 100%;
        
    }
    .col-2{
        font-size: 35px;
    }
    .button{
        margin-top:16px;
        width: 100%;
        position: relative;
        top: 40px;
        right: 24px;
        
    }
    .container{
        width: 100%;
        height: 840px;
    }
}



 
    
    
    
    
    
    
    
    

 









