
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
.container{
    width: 100%;
    height:660px;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    
    
    

}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    
    
    
}
.navbar>h1{
    margin-top: 20px;
    
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
    margin-top: 5px;
    
    
    
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 14px;
}
nav ul li a:hover{
    color: red;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    
    
}
.col-1 h2{
    font-size: 54px;
    
}
.col-1 h3{
    font-size: 30px;
    color: black;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col-1 h4{
    margin: 30px 0;
      font-size:20px;    
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    background-color: white;
    border: 1px solid darkorange;
    color: black;
    border-radius: 22px;
    margin-left: 4px;
    position:relative;
    top: 40px;
    
    
}
button:hover{
    background-color: darkorange;
    color: white;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background-color: darkorange;
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-2{
    position:relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    
    
    
}
.col-2 .controller{
    width:70%;
    
    
    
}
 .color-box{
    position:absolute;
    right: 0;
    top: 0;
    background:linear-gradient(#ff54a2, #ff575a);
    border-radius:20px 0 0 20px;
    height: 100%;
    
    z-index: -1;
    transform: translateX(150px);
     
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Landpage2a-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



.landpage2{
    width: 100%;
    height: 400px;
    background-color: orangered;
}
.landpage2>h3{
    text-align: center;
    color: white;
    position: relative;
    top: 100px;
    
}
.landpage2>h5{
    text-align: center;
    color: white;
    position: relative;
    top: 160px;
    line-height: 32px;
    
}


.landpage2a{
    width: 100%;
    height:540px;
    background-color: burlywd;
    
}
.landpage2a::after{
    content: " ";
    display: block;
    clear: both;
}
.landpage2a>h1{
    text-align: center;
    margin-top: 40px;
    color:black;
    font-family: sans-serif;
    font-size: 28px;
    
}
.landpage2a .secvices{
    
    
    float: left;
    justify-content: center;
    border:2px solid red;
    padding-left: 56px;
    padding-top: 10px;
    position: relative;
    left: 14%;
    margin: 30px;
    top: 60px;
    
    width: 254px;
    height: 260px;
    
    
}

.landpage2a .secvices>p{
    margin-top: 20px;
    
}
  .landpage2a .secvices::after{
    content: " ";
    display: block;
    clear: both;
}
.landpage2a .secvices:hover{
    background-color:orangered;
    color: white;
    margin-top:  44px;
    transition: 0.5s ease;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------EndofLandpage2a------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/






/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Landpage3a-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.landpage3a{
  display: grid;
  height: 640px;
  place-items: center;
  background:orangered;
}
.landpage3a>h1{
    color: white;
    font-size: 34px;
}
::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  margin-bottom: 60px;    
  padding: 25px 30px;
  width:700px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background:green;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 80%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.javascript span{
  width: 20%;
}
.bar .progress-line.Bootstrap span{
  width: 6%;
}
.bar .progress-line.mysql span{
  width: 20%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "80%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.javascript span::after{
  content: "20%";
}
.progress-line.Bootstrap span::after{
  content: "20%";
}
.progress-line.mysql span::after{
  content: "12%";
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------EndofLandpage3a------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/










/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Landpage4a-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.landpage4a{
    width: 100%;
    height: 680px;
    background-color:black;
    
    
    
    
}
.landpage4a>h1{
    text-align: center;
    font-size: 44px;
    color:white;
     padding-top: 40px;
    
}
.landpage4a .project{
    position: relative;
    left: 10%;
    top: 6%;
    
}
.landpage4a .project .th1{
    width: 420px;
    height: 240px;
   padding: 10px;
    
}
.landpage4a .project .th2{
    width: 620px;
    height: 240px;
    padding: 10px;
}
.landpage4a .project .th3{
    width: 620px;
    height: 240px;
    padding: 10px;
}
.landpage4a .project .th4{
    width: 420px;
    height: 240px;
    padding: 10px;
}
.landpage4a .project .thhover:hover{
    background-color:crimson;
}








/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------EndofLandpage4a------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/







/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Landpage5a-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.landpage5a{
    width: 100%;
    height: 720px;
    background-color:burlywd;
}

.landpage5a .Pricingplan{
    text-align: center;
    color:gray;
    font-size: 24px;
    padding-top: 60px;
    
}
.landpage5a .Affordableprice{
    text-align: center;
    font-size: 48px;
    color: black;
    padding-top: 20px;
}
.landpage5a .Rupees{
    float: left;
    padding: 20px;
    width: 310;
    height: 480px;
    background-color: rd;
    position:relative;
    left: 10%;
    margin: 20px;
    margin-top: 40px;
    border: 2px solid red;
}
.landpage5a .BASIC{
    text-align: center;
    font-size: 26px;
}
.landpage5a .STANDARD{
    text-align: center;
    color:crimson;
    font-size:  26px;
    
}
.landpage5a .PREMIUM{
    text-align: center;
    font-size: 26px;
}
.landpage5a .Rupees .price1{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color:darkslategrey;
}
.landpage5a .Rupees .price2{
    text-align: center;
    font-size: 36px;
    color: crimson;
    font-weight: bold;
    
}
.landpage5a .Rupees .detail{
    text-align: center;
    color: darkgrey;
    line-height: 38px;
    margin-top: 38px;
}
.landpage5a .Rupees .OrderNow1{
    position: relative;
    top: 60px;
    left: 76px;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: darkslategrey;
    color: white;
}
.landpage5a .Rupees .OrderNow2{
    position: relative;
    top: 60px;
    left: 76px;
    text-decoration: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:crimson;
    color: white;
}
.landpage5a .Rupees .OrderNow1:hover{
    border: 2px solid  darkslategrey;
    background-color: white;
    color: darkslategrey;
}
.landpage5a .Rupees .OrderNow2:hover{
    border: 2px solid crimson;
    background-color: white;
    color:crimson;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------EndofLandpage5a------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------Landpage6a--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



.landpage6a{
    width: 100%;
    height: 600px;
    background-color:darkslategrey;;
    
}
.landpage6a .getintouch1{
    float: left;
    width: 320px;
    height: 340px;
    background-color: rd;
    margin-top: 80px;
    margin-left: 110px;
    
}
.landpage6a .getintouch1>img{
    width: 240;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.landpage6a .getintouch1 .Read{
    position: relative;
    top:20px;
    text-decoration: none;
    color: white;
}
.landpage6a .getintouch1 .Read:hover{
    color: blue;
}
.landpage6a .getintouch2{
    float: left;
    width: 320px;
    height: 280px;
    background-color:yellw;
    margin-top: 80px;
    margin-left:  40px;
}
.landpage6a .getintouch2>p{
    font-size: 28px;
    color: white;
    font-family:cursive;
}
.landpage6a .getintouch2 .Emailid{
    font-size: 16px;
    color: white;
    margin-top: 20px;
    font-family: serif;
}
.landpage6a .getintouch2 .icon{
    width:46px;
    height: 46px;
    margin-top: 40px;
    padding: 6px;
    border-radius:12px;
}
.landpage6a .getintouch3{
    float: left;
    width: 420px;
    height: 380px;
    background-color: rd;
    margin-top: 80px;
    margin-left:  40px;
}
.landpage6a .getintouch3>p{
    font-size: 28px;
    color: white;
    font-family:cursive;
}
.landpage6a .getintouch3 .inputname{
    width: 200px;
    height: 46px;
    margin: 2px;
}
.landpage6a .getintouch3 .message{
    margin-top: 40px;
    width: 420px;
    height: 80px;
}
.landpage6a .getintouch3 .Submit{
    position: relative;
    top: 40px;
    background-color: crimson;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 36px;
    padding-right: 36px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    
    
}
.landpage6a .getintouch3 .Submit:hover{
    background-color: chocolate;
    transition: 0.5s;
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------EndofLandpage6a---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/





/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Footer---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:center;
}

















/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------Media quary For Mobile----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width:700px){
    
    .navbar>h1{
        font-size: 16px;
        margin-top: 20px;
    }
    
    
    
    
    nav ul{
        width: 100%;
        background-color: crimson;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    nav ul li a{
        color: white;
    }
    .menu-icon {
        display: block;
        margin-top: 16px;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
        
    }
    .col-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    
        
    }
    .col-2 .controller{
        width: 77%;
    }
    .col-2{
        flex-basis: 100%;
        
    }
    .col-2{
        font-size: 35px;
    }
    .button{
        margin-top:16px;
        width: 100%;
        position: relative;
        top: 40px;
        right: 24px;
        
    }
    .container{
        width: 100%;
        height: 840px;
        
    }
    .landpage2{
        width: 100%;
        height: 500px;
    }
    .landpage2>h3{
        text-align: center;
        
    }
    .landpage2>h5{
        line-height: 28px;
        font-size: 16px;
    }
    
    
    
    .landpage3{
        width: 100%;
        height: 1800px;
        
        
    }
    .landpage2a{
        width: 100%;
        height: 1200px;
        
        
        
    }
    .landpage2a .secvices{
        
        position:relative;
        left: 24px;
        margin-right: 80px;
        
    }
    .landpage2a .secvices::after{
     content: " ";
     display: block;
     clear: both;
}

    
    
    
    .landpage4{
        width: 100%;
        height: 1680px;
        background-color: blue;
    }
    .landpage4 .writing{
        width: 100%;
        float: none;
        
    }
    .landpage3a{
        
        width: 100%;
        
    }
    .skill-bars{
        width: 300px;
        height: 400px;
    }
    .landpage4a{
        height: 1200px;
        
    }
    .landpage4a .project .th1{
        width: 100%;
        margin-left: -36px;
        
        
    }
    
    .landpage4a .project .th2{
        width: 100%;
        margin-left: -36px;
    }
    .landpage4a .project .th3{
        width: 100%;
        margin-left: -36px;
        
        
    }
    
    .landpage4a .project .th4{
        width: 100%;
        margin-left: -36px;
    }
    .landpage5a{
        height:1880px;
    }
    .landpage5a .Affordableprice{
    text-align: center;
    font-size: 38px;
    color: black;
    padding-top: 20px;
}
    .landpage5a .Rupees{
        left: 6px;
        
    }
    
    .landpage6a{
        height: 1460px;
    }
    .landpage6a .getintouch1{
        position: relative;
        left: -74px;
    }
    .landpage6a .getintouch1>img{
        padding-left: 40px;
    }
    .landpage6a .getintouch1>a{
        padding-left: 20px;
        
    }
    
    .landpage6a .getintouch2{
        position: relative;
        right: 20px;
        margin-top: 28px;
    }
    .landpage6a .getintouch2>p{
        text-align: center;
    }
    .landpage6a .getintouch2 .icon{
        position: relative;
        left: 46px;
    }
     .landpage6a .getintouch3{
        width: 100%;
        height: 610px;
        position: relative;
        right: 41px;
        background-color: rd;
    }
    .landpage6a .getintouch3>p{
        text-align: center;
    }
    
    .landpage6a .getintouch3 .inputname{
        margin-left: 80px;
        margin-top: 20px;
    }
    .landpage6a .getintouch3 .message{
        width: 100%;
        height: 110px;
        
    }
    .landpage6a .getintouch3 .Submit{
        position: relative;
        left: 120px;
        top: 80px;
        
    }
    .footer small{
        width: 100%;
        position: relative;
        
    }
    
    
}


 
    
    


 
    
    
    
    
    
    
    
    

 









