
.maincontainer{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 8px rgba(0,0,0,1);
    background-color:red;
    width: 460px;
    height: 600px;
    text-align: center;;
    font-family: sans-serif;

}
#inputField{
    width: 300px;
    height: 24px;
    border-radius: 4px;
    
    
}
#addToDo{
    margin-left: 10px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 4px;
}
#addToDo:hover{
    background-color: black;
    color: white;
    transition: .4s;

}
#toDoContainer{
    position: absolute;
    margin-left: 24%;
    background-color: white;
    width: 50%;
    height: 400px;
    margin-top: 10%;
}


 
    
    


 
    
    
    
    
    
    
    
    

 









